apiVersion: v1
kind: Service
metadata:
  name: identity
  labels:
    app: identity
spec:
  selector:
    app: identity
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  type: ClusterIP
