apiVersion: v1
kind: Service
metadata:
  name: kafka-connect
  labels:
    app: kafka-connect
spec:
  selector:
    app: kafka-connect
  ports:
    - port: 8083
      targetPort: 8083
      protocol: TCP
      name: http
  type: ClusterIP
