apiVersion: batch/v1
kind: Job
metadata:
  name: minio-make-bucket
  labels:
    app: minio-make-bucket
spec:
  template:
    metadata:
      labels:
        app: minio-make-bucket
    spec:
      restartPolicy: OnFailure
      containers:
        - name: mc
          image: minio/mc:latest
          env:
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: minio-credentials
                  key: accesskey
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: minio-credentials
                  key: secretkey
          command:
            - /bin/sh
            - -lc
            - >
              mc alias set local http://minio:9000 "$MINIO_ACCESS_KEY" "$MINIO_SECRET_KEY" &&
              mc mb -p local/events || true &&
              mc anonymous set download local/events
