apiVersion: v1
kind: Service
metadata:
  name: notifications
  labels:
    app: notifications
spec:
  selector:
    app: notifications
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  type: ClusterIP
