apiVersion: v1
kind: Service
metadata:
  name: opensearch
  labels:
    app: opensearch
spec:
  selector:
    app: opensearch
  ports:
    - port: 9200
      targetPort: 9200
      protocol: TCP
      name: http
  type: ClusterIP
