apiVersion: v1
kind: Service
metadata:
  name: payments
  labels:
    app: payments
spec:
  selector:
    app: payments
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  type: ClusterIP
